<div id="headers_container" class="fields_section">
	<div id="clear_headers" title="Clear parameters"></div>
	<div id="minimize_headers" class="minimize" title="Minimize"></div>

	<h2>HTTP Headers</h2>
	<div class="headers_line">
		<div class="header_field">
			<input type="text" placeholder="Header name" name="header[name][]" class="parameter_input" />
		</div>
		<div class="header_field">
			<input type="text" placeholder="Value" name="header[value][]" class="parameter_input" />
		</div>
	</div>


</div>