<div id="response_placeholder" class="fields_section">
	<h2>Requests</h2>
	<div class="tabs">
	        
	   <div class="tab tab_request">
	       <input type="radio" id="tab-1" name="tab-group-1">
	       <label for="tab-1">Request</label>
	       
	       <div class="content  overflow">
	           Please make a request
	       </div> 
	   </div>
	    
	   <div class="tab tab_response">
	       <input type="radio" id="tab-2" name="tab-group-1" checked="">
	       <label for="tab-2">Response</label>
	       
	       <div class="content overflow">
	           Please make a request
	       </div> 
	   </div>
	    
	    <div class="tab tab_history">
	       <input type="radio" id="tab-3" name="tab-group-1">
	       <label for="tab-3">History</label>
	     
	       <div class="content  overflow">
	       		<div class="history_wrapper">
	       			<div class="history_content">
	       			</div>
		       		<div class="history_menu">

					</div>
					<div style="clear:both">
					</div>
				</div>
					       		
	       </div> 
	   </div>
	    
	</div>

</div>
	