<!DOCTYPE html>
<html>
<head>
  <title>ApiExplorer</title>
  <%= stylesheet_link_tag    "api_explorer/application", :media => "all" %>
  <%= javascript_include_tag "api_explorer/application" %>
  <%= csrf_meta_tags %>
</head>
<body class="api_explorer">
	<div class="container">
		<div class="panel">
			<%= yield %>
		</div>
	</div>
</body>
</html>
